.contact{
    height: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.contact > h1{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.849);
}
.contact > article{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.849);
    line-height: 30px
}

.contact > form > div{
    width: 800px;
    height: 300px;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}



.contactInp{
    border-color: rgba(0, 0, 0, 0.479);
    width: 46%
}

.message{
    width: 100%;
}

.contactInp > input, textarea, select{
    color: rgba(0, 0, 0, 0.473);
}

.contact-btn{
    margin : 0 auto;
    width: 300px;
    border-radius: 5px;
    font-size: 12px;
}