.log{
    width: 350px;
    margin-top: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.log > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}
.log > section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.log > section > a{
    color: black;
    font-size: 12px;
    text-align: center;
}
.log-inp{
    width: 100%;
    border-color: gray;
}

.log-btn{
    font-size: 12px;
    border-radius: 4px;
}