.retrievePs{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

html{
    color: rgba(0, 0, 0, 0.856);
}

.retrievePs > h1{
    font-size: 28px;
}
.retrievePs > h3{
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    line-height: 20px;
}

.retrievePs >form{
    margin-top: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.retrievEdit{
    width: 100%;
    font-size: 12px;
}